﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />

    <style>
        .text_head {
            color: black;
            font-size: 22px;
        }

        .text_sub {
            color: grey;
            font-size: 18px;
        }
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="javascript:;">Deliver Status Control Mobile</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="active nav-item">
                        <a href="@Url.Action("Index", "Contract")" class="nav-link">Contract</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Detail", "Contract")" class="nav-link">Purchase</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">Purchasing</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">Progress</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">Contract Person</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">EDS Documents</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link">Notification</a>
                    </li>
                    <!--<li class="dropdown nav-item">
                        <a href="javascript:;" class="dropdown-toggle nav-link" data-toggle="dropdown">Dropdown</a>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Dropdown header</h6>
                            <a href="javascript:;" class="dropdown-item">Action</a>
                            <a href="javascript:;" class="dropdown-item">Another action</a>
                            <a href="javascript:;" class="dropdown-item">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:;" class="dropdown-item">Separated link</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:;" class="dropdown-item">One more separated link</a>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    <script src="~/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>


    <script src="~/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="~/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>

    <script src="~/assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


