﻿@{
    ViewBag.Title = "Contract";
}


<div class="card card-nav-tabs" style="margin-top:60px;">
    <div class="card-header card-header-info">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <center><u><h3>Project Detail</h3></u></center>
        </div>
    </div>
    <div class="card-body ">
        <div class="tab-content text-center" style="margin-top:15px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="text_head">Site Code : </label>
                            <label class="text_sub">TH209507</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="text_head">Site Name : </label>
                            <label class="text_sub">Sansiri Condo</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="text_head">Customer Name : </label>
                            <label class="text_sub">Sansiri Group</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="text_head">Site Address : </label>
                            <label class="text_sub">6/11</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="text_head">Contract No. : </label>
                            <label class="text_sub">000024</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="text_head">Contract Date : </label>
                            <label class="text_sub">10/04/2020</label>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-nav-tabs" style="margin-top:60px;">
    <div class="card-header card-header-info">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <center><u><h3>List Project Detail</h3></u></center>
        </div>
    </div>
    <div class="card-body ">
        <div class="tab-content text-center" style="margin-top:15px;">

            <div class="container-sm">
                <table class="table">
                    <tr class="success">
                        <th width="5%"><center>No.</center></th>
                        <th width="10%"><center>Sale Order</center></th>
                        <th width="20%"><center>Item</center></th>
                        <th width="15%"><center>Action</center></th>
                    </tr>
                    <tr>
                        <td><center>1</center></td>
                        <td><center>000001</center></td>
                        <td><center>TAJ-OA-1234</center></td>
                        <td>
                            <center>
                                <button class="btn btn-info">View</button>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td><center></center></td>
                        <td><center></center></td>
                        <td><center>TAJ-OA-1457</center></td>
                        <td>
                            <center>
                                <a href="@Url.Action("Detail", "Contract")" class="btn btn-info">View</a>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td><center>2</center></td>
                        <td><center>000002</center></td>
                        <td><center>YUJ-OA-1994</center></td>
                        <td>
                            <center>
                                <button class="btn btn-info">View</button>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td><center></center></td>
                        <td><center></center></td>
                        <td><center>UI-OA-12344</center></td>
                        <td>
                            <center>
                                <button class="btn btn-info">View</button>
                            </center>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>
