﻿@{
	ViewBag.Title = "ListProject";
}
<style>
	.table {
		table-layout: fixed;
	}

		.table td {
			overflow-wrap: break-word;
		}
</style>

<center><h2>ListProject</h2></center>
<div class="container-sm">
	<table class="table">
		<tr class="success">
			<th width="3%"><center>No.</center></th>
			<th width="15%"><center>Project Name</center></th>
			<th width="8%"><center>Status</center></th>
			<th width="30%"><center>Action</center></th>
		</tr>
		<tr>
			<td><center>1</center></td>
			<td><center>Sansiri Condo</center></td>
			<td><center>eeeee</center></td>
			<td>
				<center>
					<button class="btn btn-info">View</button>
					<button class="btn btn-warning">Actice</button>

				</center>
			</td>
		</tr>
		<tr>
			<td><center>2</center></td>
			<td><center>Sansiri Condo</center></td>
			<td><center>eeeee</center></td>
			<td>
				<center>
					<button class="btn btn-info">View</button>
					<button class="btn btn-warning">Actice</button>

				</center>
			</td>
		</tr>
		<tr>
			<td><center>3</center></td>
			<td><center>Sansiri Condo ssssssssssssssssssssssssssssssssssss</center></td>
			<td><center>eeeee</center></td>
			<td>
				<center>
					<button class="btn btn-info">View</button>
					<button class="btn btn-warning">Actice</button>

				</center>
			</td>
		</tr>

	</table>
</div>
